nltk==3.2.5
sortedcontainers == 1.5.9
numpy==1.14.5
sanic==0.8.1
ujson==1.35
elasticsearch==6.3.0
elasticsearch_async==6.1.0
elasticsearch_dsl==6.1.0
typing==3.6.2
uvloop==0.11.0
# sanic_motor==0.3.1
unicode==2.6
Pygments==2.2.0
gensim==3.4.0
nltk==3.2.5
git+https://github.com/ONSdigital/dp4py-logging.git@master#egg=dp4py_logging
git+https://github.com/ONSdigital/dp4py-config.git@master#egg=dp4py_config
git+https://github.com/ONSdigital/dp4py-sanic.git@master#egg=dp4py_sanic
git+https://github.com/ONSdigital/dp-fasttext.git@feature/batch-sentence-vector#egg=dp_fasttext